.l-two-col__left{
padding-right: 0px !important;
}
.draggable{
padding: 0px 20% !important;
}

.l-two-col::after{
clear: none !important;
}

.l-two-col__right{
    display: none !important;
}

.spotlight-tout__img{
padding-left: 16% !important;
width: 14% !important;
}
.spotlight-tout__content{
width: 68% !important;
}

.hero-feature.slick-active .hero-feature__content{
opacity:0 !important;
}

h3{
margin: 0 auto;
text-align: left !important;
}

.content-carousel-container{
overflow-y: hidden;
max-height: 38vw;
}

h1{
margin: 0 auto;
}
.hero-feature__content__title{
font-size: 1.5vw !important;
}
.hero-feature__content{

}
.photographer{
line-height: 0px !important;
font-size: 1.4vw !important;
}

.copy{
width: 50%;
margin: 0 auto;
font-family:brandon-grotesque;
font-size: 24px;
}

.classic-aspen-page .classic_aspen_header .page-container .classic_aspen_first_row .classic_aspen_cta:after {
    background: url(https://cdn-image.foodandwine.com/sites/default/files/arrow_0.jpg) no-repeat !important;
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
}

.content-carousel-container .pagination-btn{
margin-top: 0px !important;
top: 30% !important;
}

.hero-feature__link{
max-height: 38.1vw !important;
}
.hero-feature__content{
max-height: 15vw;
}

.head{
margin: 0;
font-family:brandon-grotesque;
}

.slick-slide img {
width: 100%;
}

.apply{
    width: 200px;
    background-color:#069DD6;
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto !important;
    margin-top: 30px;
    }

.fact{
    color: #069DD6; height: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 20px;
    float: left;
}
.apply:hover{
    background-color:#F48221 !important;
}

.fact:hover{
    color:#F48221 !important;
}

.email:hover{
    color:#F48221 !important;
}

.apply-btn { text-align:center; margin:35px 0 20px; }
.apply-btn a { background-color:#069dd6; color: #fff; display:inline-block; font-weight: 600; margin: 0 0 5px; padding: 15px 35px; text-transform: uppercase; font-size:20px; transition: background-color 0.2s ease; text-align:center; line-height:20px; }
.apply-btn a:hover { background-color:#000; }

.l-two-col__left { margin: 0 auto; float: none; }
.l-two-col__right { display: none; }
